# Игнорирование каталогов __pycache__
__pycache__/
**/__pycache__

# Игнорирование файлов .pyc
*.py[cod]
**/*.py[cod]

# Игнорирование файлов .env (важно для безопасности)
.env

# Игнорирование log файлов
*.log

# Игнорирование временных файлов
*.tmp

# Игнорирование директории виртуального окружения Python
main_env/

# Игнорирование файла chromedriver
chromedriver
